


.burger-dropdown-menu-item {
    color: aliceblue;
}

.custom-dropdown-button {
    background-color: #81BAB4;
    color: #fff;
    border: none;
    border-radius: 8px;
    width: 50px;
    height: 50px;
    box-shadow: 10px 10px 5px lightblue;
  }

.dropdown-toggle {
    background-color: none;
    border: none;
  }

  .dropdown-menu{
    background-color: #81BAB4;
    margin-top: 10px;
    box-shadow: 10px 10px 5px lightblue;
  }

  .btn-primary {
    --bs-btn-bg: none;
    width: 50px;
    height: 50px;
  }

  .btn-primary:hover{
    background-color:#0a9789 !important; 
  }
  .btn-primary.show{
    background-color:#0a9789; 
  }

  .btn-primary:hover {
    background-color: #81BAB4;
    border-color: none;
  }